* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #FFFFFF;
  height: 100vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;

  background: rgb(26, 220, 215);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.logo {
  font-size: 1.6rem;
  font-weight: bold;
  color: white;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  position: relative;
  transition: 0.3s;
}

.nav-links a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  left: 0;
  bottom: -6px;
  background: #00ffdc;
  transition: 0.3s;
}

.nav-links a:hover::after {
  width: 100%;
}

.btn {
  padding: 8px 16px;
  border-radius: 20px;
  background: #ffffff;
  color: #12121c !important;
  font-weight: bold;
}
