{% extends "base.html" %}

{% block title %}Graphing Calculator{% endblock %}

{% block content %}

<div class="container">
    <div class="where_you_put_math" style="display: flex; flex-direction: column; align-items: center" id="where_you_put_math">
        <div style="display: flex; height: 10%; width: 100%;">
            <h2 style="background-color: rgb(26, 94, 220); color: white;" id="whatever_this_thing_is_called" class="whatever_this_thing_is_called">1</h2>
            <input class="graphing-calc-text" type="text" id="where_the_math_goes_1" placeholder="...">
        </div>
        <button style="width: 100%; height: 10%; background-color: rgb(26, 94, 220); color: white; border: none; font-size: xx-large;" id="add_new_item">+</button>
    </div>
    <div class="graphing_graph_thing" id="graphingGraphThing">
        <canvas id="graphing-calc-canvas" class="graphing-calc-canvas">
        </canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/mathjs@11/lib/browser/math.js"></script>
<script type="module" src="{{ url_for('static', filename='js/graphThing.js') }}"></script>
<script type="module" src="{{ url_for('static', filename='js/wyattBossFight.mjs') }}"></script>
<script type="module" src="{{ url_for('static', filename='js/Objects.js') }}"></script>

{% endblock %}