{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div>
    <h1 style="text-align: center; margin-top: 5dvh">Welcome To Sigmos.</h1>
    <h2 style="text-align: center; margin-top: 2.5dvh; margin-bottom: 5dvh">"Ts is the tuffest graphing calculator."</h2>
    <hr>
</div>

<div>
    <h1 style="text-align: left; margin: 5dvw">What the phonk is ts?</h1>
    <img src="../static/img/ico_circ.png" alt="TuffestLogo" class="image-left" width="200">
    <h2>Boiii, I guess you can't frickin' read or smtg, cuz ts is the mt (most tuffest) calculator in all of phonk history. Pretty much what ts thing WILL (it isn't even made yet twin) be able to do is very tuff math equations, like 6 + 7, (67) and other tuff ahh phonk stuff like floor((d/dx)(8/5x^42)) the graphing calculator is complete, but needs to be imported into HTML.</h2>
</div>
{% endblock %}