{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div>
    <h1 style="text-align: center; margin-top: 5dvh">Welcome To Sigmos.</h1>
    <h2 style="text-align: center; margin-top: 2.5dvh; margin-bottom: 5dvh">"Ts is the tuffest graphing calculator."</h2>
    <hr>
</div>

<div>
    <h1 style="text-align: left; margin: 5dvw">What the phonk is ts?</h1>
    <img src="../static/img/ico_circ.png" alt="TuffestLogo" class="image-left" width="200">
    <h2>BOIII  TS THE TUFFEST CALC IN THE FRIGGIN WORLD BRUH! TS THING SO FRIGGIN TUFF THAT NOT EVEN FRIGGIN MANGO PHONK OR SKIBIDI TOILET CAN SURPASS TS. WE EVEN HAVE A PHONK PAGE BOIIIII.</h2>
</div>
{% endblock %}