{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

<noscript>
    <div style="text-align: center; margin-top: 5dvh">
        <h1 style="color: red; margin-bottom: 5dvh; margin-top: 5dvh" >JavaScript is disabled!</h1>
        <h2 style ="margin-bottom: 5dvh">Enable JavaScript in order for all features to work properly.</h2>
        <hr>
    </div>
</noscript>

<div>
    <h1 style="text-align: center; margin-top: 5dvh">Welcome To Sigmos.</h1>
    <h2 style="text-align: center; margin-top: 2.5dvh; margin-bottom: 5dvh">"Ts is the tuffest website."</h2>
    <hr>
</div>

<div>
    <h1 style="text-align: left; margin: 5dvw">What the phonk is ts?</h1>
    <img src="../static/img/ico_circ.png" alt="TuffestLogo" class="image-left" width="200">
    <h2  style="margin: 5dvw;">Ts tuff ahh website has the tuffest calc and the tuffest graphing calc in the whole world, it is so friggin' tuff and much tuffer than V1. V1 is only tuff because it is not Desmos, because Desmos is not very tuff if we are being real.
        No other calc is as tuff, or ever will be as tuff as this one.
        Also, Cohen Edgar Mateo Werner-Brooks can not code at all
    </h2>
</div>

{% endblock %}