<nav class="navbar", id="navbar">
    <div class="logo", id="sigmosLogo">
        <a href="{{ url_for('home') }}">
            SIGMOS
        </a>
    </div>
    <ul class="nav-links">
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <!--<li><a href="{{ url_for('israel') }}">IsraelGPT</a></li>-->
        <li><a href="{{ url_for('phonk') }}">Phonk</a></li>
        <li><a href="{{ url_for('graphing_calc') }}">Graphing Calc</a></li>
        <li><a href="{{ url_for('calc') }}">Calc</a></li>
        <!--<li><a href="{{ url_for('cm_files') }}">CM Files</a></li>-->

    </ul>
</nav>
