{% extends "base.html" %}

{% block title %}Phonk{% endblock %}

{% block content %}
<div>
  <h1 class="center-head-5m" style="margin: 5dvh">#1 TUFFEST PHONK BOOIIII</h1>
  <iframe data-testid="embed-iframe" style="border-radius:12px; text-align: center; margin: 0 auto; display: block;" src="https://open.spotify.com/embed/album/1uw5zaKdEoaYt9bSAYz0uk?utm_source=generator" width="80%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
</div>
{% endblock %}